services:
  db:
    image: postgres:16.3
    environment:
      POSTGRES_USER: taller
      POSTGRES_PASSWORD: taller
      POSTGRES_DB: taller
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

